header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.portfolio_nav {
    padding: 0 1rem !important;
}

.home_container {
    min-height: 90vh;
    background-color: lightgray;
    padding: 0;
    width: 100%;
}

.layout_home {
    background-color: lightblue;
}

.layout_skills {
    background-color: #f9c51d;
}

.layout_Career {
    background-color: #eee;
}

.layout_profile {
    background-color: #fff;
}

.section_title {
    text-align: center;
    padding: 40px;
    font-weight: bold;
    font-size: 50px;
}

.section_container {
    padding: 0 100px;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 5%;
}

.section_card {
    box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
    -webkit-box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
    border: none !important;
    width: 300px;
}

.section_card-header {
    font-size: 25px;
    font-weight: bold;
    color: #f57a00;
    padding: 1rem 1rem;
    border-bottom: 1px solid rgb(0, 0, 0, 0.175);
}

.profile_pic_container {
    position: relative;
}

.profile_detail_container {
    padding: 4rem 0;
}

.profile_pic {
    width: 250px;
    height: 250px;
    border-radius: 70%;
    overflow: hidden;
    position: absolute;
    left: 25%;
    top: 25%;
}

.profile_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_blank {
    padding: 1.5rem;
}

.profile_icon {
    font-size: 35px !important;
    vertical-align: middle;
    margin-right: 1rem;
}

.profile_image_icon {
    width: 2rem;
    margin-right: 1rem;
}

.profile_school {
    margin-left: 3.2rem;
    font-size: 14px;
}

.profile_link {
    padding-left: 0.5rem !important;
}

.skills_image {
    width: 100%;
    display: block;
}

.career_section {
    margin: 2rem;
}

.career_pic_container {
    position: relative;
}

.career_detail_container {
    border-left: 1px solid #aaa !important;
    padding: 1rem 3rem !important;
}

.career_pic {
    width: 250px;
    height: 250px;
    border-radius: 70%;
    overflow: hidden;
    position: absolute;
    /* left: 25%; */
    /* top: 25%; */
    border: 1px solid #aaa;
    background: #fff;
    padding: 1.5rem;
}

.career_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.career_blank {
    padding: 1rem;
}

.career_underline {
    border: 1px solid #aaa;
    margin: 1.5rem 0 !important;
}

.career_badge {
    margin-right: 0.5rem;
}

.career_recommendation {
    color: #2d6ba9 !important;
    padding-left: 0 !important;
}

.career_icon {
    vertical-align: middle;
    margin-left: 0.3rem;
}

.react-pdf__Page__textContent {display: none;}
.react-pdf__Page__annotations {display: none;}